@page "/"
@using Ipa.Manager.Auth
@attribute [Authorize]

<PageTitle>Home</PageTitle>

<div class="home-container">
    <h1>Hello, @UserContext.Username!</h1>
    <p class="welcome-text">Welcome to your new app.</p>
    <p class="user-id">Id: @UserContext.UserId</p>
</div>

@code
{
    [CascadingParameter]
    public required UserContext UserContext { get; set; }
}
