@page "/"
@using Ipa.Manager.Auth


<PageTitle>Home</PageTitle>

<h1>Hello, @UserContext.Username!</h1>

Welcome to your new app.

Id: @UserContext.UserId

@code
{
    [CascadingParameter]
    public required UserContext UserContext { get; set; }
}
